*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.ProgressBar{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.circle{
    border: 2px solid grey;
    border-radius: 50%;
     width: 30px;
    height: 30px;
    color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.line{
    height: 2px;
    flex: 1;  /* important  */
    background-color: gray;
    margin: 12px 0px;
}

.active{
    border: 2px solid blue;
} 

/* button {
    background-color: rgb(87, 87, 247);
    color: white;
    border: 2px solid  rgb(87, 87, 247);;
    padding: 10px 20px;
    margin: 10px 15px;

} */

button:disabled{
    cursor: not-allowed;
} 